[submodule "pkg/tempallocator"]
	path = pkg/tempallocator
	url = https://github.com/bcrist/Zig-TempAllocator
[submodule "pkg/sx"]
	path = pkg/sx
	url = https://github.com/bcrist/Zig-SX
[submodule "kicad"]
	path = kicad
	url = https://github.com/bcrist/vera-kicad
	shallow = true
[submodule "pkg/zig-gamedev"]
	path = pkg/zig-gamedev
	url = https://github.com/bcrist/zig-gamedev
	shallow = true
[submodule "pkg/nfd-zig"]
	path = pkg/nfd-zig
	url = https://github.com/fabioarnold/nfd-zig
