[submodule "kicad"]
	path = kicad
	url = https://github.com/bcrist/vera-kicad
	shallow = true
[submodule "pkg/zig-gamedev"]
	path = pkg/zig-gamedev
	url = https://github.com/bcrist/zig-gamedev
	shallow = true
